{% extends 'base.html' %}

{% block title %}SSL Certificate Manager{% endblock %}

{% block content %}
    <h1 class="mt-4">SSL Certificate Manager</h1>

    <!-- New Certificate Button -->
    <div class="my-4">
        <a href="{{ url_for('upload_file') }}" class="btn btn-success">New Certificate</a>
    </div>

    <!-- Display uploaded certificates in a Bootstrap table -->
    <h2>Uploaded Certificates</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Parent</th>
                <th>Expires</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cert in certificates %}
        <tr>
            <td>{{ cert['title'] }}</td>
            <td>{{ cert['type'] }}</td>
            <td>
                {% if cert['parent_cert_id'] %}
                    {% set parent_cert = db.get(doc_id=cert['parent_cert_id']) %}
                    {{ parent_cert['title'] }} ({{ parent_cert['type'] }})
                {% else %}
                    None
                {% endif %}
            </td>
            <td>{{ cert['expiration_date'] }}</td>
            <td>{{ cert['uploaded_at'] }}</td>
            <td class="no-wrap"> <!-- Add the no-wrap class -->
                <a href="{{ url_for('view_certificate', cert_id=cert.doc_id) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-eye"></i>
                </a>
                <a href="{{ url_for('download_file', filename=cert['cert_filename']) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-download"></i><span class="ml-1">Certificate</span>
                </a>
                <a href="{{ url_for('download_file', filename=cert['key_filename']) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-download"></i><span class="ml-1">Key</span>
                </a>
                <a href="{{ url_for('download_zip', cert_id=cert.doc_id) }}" class="btn btn-success btn-sm">
                    <i class="fas fa-download"></i><span class="ml-1">ZIP</span>
                </a>
                <form action="{{ url_for('delete_certificate', cert_id=cert.doc_id) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <!-- Footer -->
     <footer class="text-center bg-secondary text-white py-2" style="font-size: 0.8rem;">
      © 2024 schbrongx. All rights reserved.
      <a href="https://github.com/schbrongx/certmanager" target="_blank" class="text-white ml-2">
        <i class="fab fa-github"></i>
      </a>
    </footer>
    {% endblock %}
